version: '3'

volumes:
  sqlite_dir:

networks:
  lan_network:
    driver: bridge

services:
  todoapplication:
      hostname: todo
      build: .
      ports:
        - 5000:5000
      links:
        - mysqlite:sqlite
      depends_on:
        - mysqlite
      volumes:
        - sqlite_dir:/opt/sqlite
        - /opt/data:/opt/data
      networks:
        -  lan_network

  mysqlite:
    hostname: sqlite
    command: tail -f /dev/null
    build: ./sqlite3
    volumes:
      - sqlite_dir:/opt/sqlite
    networks:
      -  lan_network